@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

button{
  border: none;
  outline: none;
  appearance: none;
  background: transparent;
  color: inherit;  
}

body{
  background: #0f0f0f;
  color: white;
  background-image: linear-gradient(
    #161616 1px, transparent 1px),
    (linear-gradient(to right, #161616 1px, #0f0f0f 1px)
  );
  background-size: 20px 20px;
}

.App{
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.developer{
  margin-top: 0.5rem;
}

.developer span{
  font-weight: 600;
  color: #00ff62;
}

.calculator{
  border: 3px solid rgba(255,255,255,0.3);
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  overflow: hidden;
}

.displayWindow{
  background: rgb(20,20,20);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 1rem;
  height: 120px;
  flex-direction: column;
}

.displayWindow .expression{
  overflow-x: auto;
  width: 100%;
  text-align: right;
  color: rgba(255,255,255,0.3);
  font-weight: 600;
  scrollbar-width: none;
}

.displayWindow .result{
  font-size: 2.2rem;
  font-weight: 600;
}

.keysWindow{
  background: rgb(29,29,29);
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.keysWindow button{
  padding: 0.8rem 1.2rem;
  font-size: 1.3rem;
  cursor: pointer;
  color: rgba(255,255,255,0.5);
  border-radius: 5px;
}

.keysWindow button:hover{
  background: rgba(255,255,255,0.2);
}

.keysScientific{
  width: 30%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.line{
  margin-block: 1.5rem;
  width: 2px;
  background: rgba(255,255,255,0.08);
}

.keysBasic{
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 0.5rem;
}

.keysBasic .equal{
  background: #00ff62;
  color: #0f0f0f;
}

.keysBasic .number{
  color: white;
  font-weight: 600;
}

@media (max-width:610px) {
  body{
    padding: 1rem;
  }
  
  .calculator{
    margin: 1rem;
  }

  .keysWindow{
    flex-direction: column;
    gap: 0;
  }

  .line{
    display: none;
  }

  .keysScientific{
    width: 100%;
    grid-template-columns: repeat(5,1fr);
  }
}